<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Xử lý dữ liệu 1000 bản ghi</h1>
<ul>
    <h5>Java Stream Homeworks</h5>
    <li><a href="/devhanoisaigoshanghai">1. Trả về danh sách developer ở các thành phố Hanoi, Saigon, Shanghai</a></li>
    <li><a href="/youngestdevs">2. Tìm ra thành phố có độ tuổi trung bình của lập trình viên trẻ nhất</a></li>
    <li><a href="/malefemaleratio">3. Liệt kê tỷ lệ nam/nữ ở từng thành phố</a></li>
    <li><a href="/avgsalarypeopleabove30">4. Tính mức lương trung bình của tất cả những người trên 30 tuổi</a></li>

    </br>
    <p>*****************************************</p>
    <h5>Demo of Teacher</h5>
    <li><a href="/groupbycity">Nhóm người theo từng thành phố</a></li>
    <li><a href="/groupbycitythencount">Đếm số người trong từng thành phố</a></li>
    <li><a href="/groupbyjobthencount">Nhóm theo nghề nghiệp và đếm</a></li>
    <li><a href="/fivetopjobs">5 nghề nghiệp được làm nhiều nhất</a></li>
    <li><a href="/fivetoppopcities">5 thành phố có dân số lớn nhất</a></li>
    <li><a href="/topjobcity">Trong mỗi thành phố, nghề nào được làm nhiều nhất</a></li>
    <li><a href="/averagesalary">Lương trung bình theo job</a></li>
    <li><a href="/5citistopsalary">5 thành phố có mức lương cao nhất</a></li>
    <li><a href="/5citistopdevsalary">5 thành phố có mức lương developer cao nhất</a></li>
    <li><a href="/averageageperjob">Tuổi trung bình ở mỗi nghề</a></li>
    <li><a href="/maxagepercity">Tuổi cao nhất ở mỗi thành phố</a></li>
    <li><a href="/maleFemaleRatioAllData">Tỷ nam / nữ toàn bộ dữ liệu</a></li>
</ul>
</body>
</html>